@font-face {
    font-family: BeatriceDisplay;
    src: url("fonts/BeatriceDisplay-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: Mad-Serif;
    src: url("fonts/mad-serif-bold.otf") format("opentype");
}

@font-face {
    font-family: FormulaCond;
    src: url("fonts/FormulaCondensed-Bold.otf") format("opentype");
}

@font-face {
    font-family: Supply;
    src: url("fonts/Supply-UltraLight.otf") format("opentype");
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #444;
    margin: 0;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
    text-decoration: none;
    color: darkgreen !important;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
	text-transform: uppercase;
}

#info {
    font-family: Hatton;
    position: absolute;
    top: 0px;
    color: darkgreen;
    background-color: lightpink;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
    z-index: 1;
    width: 100vw;
    height: 30vw;
    padding: 6vw;
    border: 1px solid black;
    border-width: 0px 0px 0px 0px;
    overflow-y: hidden;
}

.title-1 {
    position: absolute;
    top: 1vw;
}

.title-1 h1 {
    text-align: left;
    font-size: 5vw;
    line-height: 7vw;
    text-decoration: underline;
    animation: .5s cubic-bezier(0,1.23,1,-0.59) 0s 1 leftSlide;
    transform-origin: left;
}

.title h1 a {
    color: darkgreen !important;
}

.title-1 h2{
    font-size: 3vw;
    text-align: left;
    animation: .5s cubic-bezier(0,1.23,1,-0.59) 0s 1 leftSlide;
    transform-origin: left;
}

.title-2 {
    position: absolute;
    right: 8vw;
    top: 1vw;
    text-align: right;
}

.title-2 h1 {
    font-size: 5vw;
    line-height: 7vw;
    animation: .5s cubic-bezier(0,1.23,1,-0.59) 0s 1 leftSlide;
    transform-origin: right;
}

.title-2 h2{
    font-size: 3vw;
    animation: .5s cubic-bezier(0,1.23,1,-0.59) 0s 1 leftSlide;
    transform-origin: right;
}

@keyframes leftSlide{
    0%{
        transform: scaleX(0);
    }
    
    100%{
        transform: scaleX(1);
    }
    
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#content {
    position: absolute;
    top: 30vw;
    width: 100%;
    z-index: 1;
    padding: 3em 0 0 0;
}

#c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-item {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

.list-item > div:nth-child(1) {
    width: 200px;
    height: 200px;
}

.list-item > div:nth-child(2) {
    color: #888;
    font-family: sans-serif;
    font-size: large;
    width: 200px;
    margin-top: 0.5em;
}